/*
**
**
**
**
**
**
**  <placeholders>
*/
%max-width-none {
    max-width: none;
    width: 100%;
}
/*
* === Visually hide an element 
* @uso: [selector] { @extend %visual-hide; }
*
*/
%visual-hide {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}