

header.woocommerce-products-header {
    @include padding(0);
    text-align: center;
}


/*
// descripcion de la categoria
.term-description {
text-align: center;
margin-bottom: 20px;
padding-top: 20px;
p {
@include margin(0);
}
}
*/